{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h1>Home Page 1</h1>

<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>This example is a quick exercise to illustrate how the navbar and its contents work. Some navbars extend
                the width of the viewport, others are confined within a <code>.container</code>. For positioning of
                navbars, checkout the <a href="../navbar-static/">top</a> and <a href="../navbar-fixed/">fixed top</a>
                examples.</p>
            <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to
                toggle the collapsed content.</p>
            <p>
                <a class="btn btn-primary" href="/login" role="button">Go to Login Page &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}